*, *::before, *::after {
  box-sizing: border-box;
}

.background-container {
  width: 100%;
  background-color: whitesmoke;
  margin: 0;
}
.background-container .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}
.background-container .container .left-column,
.background-container .container .right-column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.background-container .container form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.background-container .container form > * {
  width: 90%;
}
.background-container .container .card-parameters {
  width: calc(100% - 30px);
  margin: 30px;
}
